<!DOCTYPE HTML>
<html>
    <head>
        <title>Connect4</title>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
        <script src="angular.min.js"></script>
        <script src="app/app.module.js"></script>
        <script src="app/components/ai/AIService.js"></script>
        <script src="app/components/board/boardController.js"></script>
        <script src="app/components/board/boardDirective.js"></script>
        <script src="app/components/board/boardFactory.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    </head>

    <body>

            <div ng-app='boardApp'  ng-controller='boardCtrl as board'>
                <board-directive></board-directive>
                <input type='button' ng-click='board.newGame()' value='New Game'></input>
                <input type='button' ng-click='board.diff(0)' value='Beginner'></input>
                <input type='button' ng-click='board.diff(1)' value='Easy'></input>
                <input type='button' ng-click='board.diff(2)' value='Medium'></input>
                <input type='button' ng-click='board.diff(3)' value='Hard'></input>

                <div ng-show='board.gameOver'>Game over!</div>
                <div ng-show='board.playerTurn'>It's your turn!<div>
                <div ng-show='!board.playerTurn'>Thinking...</div>
            </div>


    </body>


</html>
