body {
    background-size: cover;
    background-color: #989A9A;
}

.display{
  position: static;
  left: 54%;
  top: 10%;
}

#board{
  position: relative;
}

input {
  position: absolute;
  left: 60rem;
  width: 5rem;
  height: 2rem;
}

table, th, td {
    position: relative;
    border: 1px solid black;
    margin-left: 36.5%;
    margin-top: 8%;
}

td {
    width: 50px;
    height: 50px;
}

#newGameBut {
  margin-top: -25rem;
  border: 2px solid purple;
  background-color: white;
  color: black;
  border-radius: 8px;
  text-align: center;
  transition-duration: 0.4s;
}

#newGameBut:hover{
  background-color: purple;
  color: white;
}

.activeCol {
    background-color: lightblue;
}

.ghostpieceimg {
    opacity: 0.2;
    width: 35px;
    height: 35px;
}

.bluepieceimg,.redpieceimg {
    width: 35px;
    height: 35px;
}

.inactiveDiff {
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.4s;
}
.inactiveDiff:hover {
    color: white;
    transition-duration: 0.4s;
}

.activeDiff {
  color: white;
  border-radius: 8px;
  text-align: center;
  transition-duration: 0.4s;
}



.butt0{
  margin-top: -22.5rem;
  border: 2px solid green;
}
.butt0.activeDiff{
  background-color: green;
}
.butt0.inactiveDiff:hover{
  background-color: green;
}
.butt1{
  margin-top: -20rem;
  border: 2px solid blue;
}
.butt1.activeDiff{
  background-color: blue;
}
.butt1.inactiveDiff:hover{
  background-color: blue;
}
.butt2{
  margin-top: -17.5rem;
  border: 2px solid red;
}
.butt2.activeDiff{
  background-color: red;
}
.butt2.inactiveDiff:hover{
  background-color: red;
}
.butt3{
  margin-top: -15.0rem;
  border: 2px solid black;
}
.butt3.activeDiff{
  background-color: black;
}
.butt3.inactiveDiff:hover{
  background-color: black;
}

/*
.activeDiff:hover{
  color: black;
  background-color: white;
  transition-duration: 0.4s;
}
*/
