body {
    background-image: url('assets/img/background.jpg');
    background-size: cover;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 50px;
    height: 50px;
}

.activeCol {
    background-color: lightblue;
}

.ghostpieceimg {
    opacity: 0.2;
    width: 35px;
    height: 35px;
}

.bluepieceimg,.redpieceimg {
    width: 35px;
    height: 35px;
}
